$black: #000;

.simulador-frete {
    width: 70%;

    &_accordion {
        border: 1px solid $black;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    &_header {
        border: 1px solid $black;
        display: flex;
        justify-content: space-around;
        width: 100%;
    }
}
