@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.wrapper-input-addon {
    position: relative;

    input {
        font-size: 16px;
        height: 50px;
        padding: 10px;
    }

    .icon {
        font-size: 16px;
        position: absolute;
        right: 15px;
        top: 38px;

        &.sucess {
            color: #03c046;
        }

        &.error {
            color: #f00;
        }
    }

    p.validation-error {
        color: #f00;
        font-size: 12px;
        margin-top: 5px;
    }
}

.loader-simulador,
.loader-simulador::after {
    border-radius: 50%;
    height: 1em;
    width: 1em;
}

.loader-simulador {
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
    border-bottom: 0.2em solid rgba(233, 123, 3, 0.2);
    border-left: 0.2em solid #e97b03;
    border-right: 0.2em solid rgba(233, 123, 3, 0.2);
    border-top: 0.2em solid rgba(233, 123, 3, 0.2);
    font-size: 10px;
    margin: 0 auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.simulador-frete {
    font-size: 12px;
    margin-bottom: 24px;
    margin-top: 32px;

    @media (max-width: 768px) {
        margin-top: 16px;
    }

    &__holder {
        display: grid;
        grid-gap: 24px;
        grid-template-columns: auto 86px;

        @media (max-width: 768px) {
            grid-gap: 8px;
        }
    }

    &__btn-ok {
        align-self: end;
        background-color: #fff;
        border: 1px solid #f55d2f;
        color: #f55d2f;
        cursor: pointer;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        height: 49px;
        line-height: 46px;
        margin-bottom: 5px;
        text-align: center;
        width: 86px;
    }

    &_input-text {
        border-color: #d1d3d4;
        border-radius: 3px;
        border-style: solid;
        border-width: 1px;

        &:focus {
            border-color: #f08b1d;
        }

        &.error {
            border-bottom: 2px solid #f00;
        }
    }

    &_label-input {
        color: #242424;
        font-size: 14px;
        font-style: normal;
        font-weight: 300;
    }

    &_header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 5px;
    }

    &_link-buca-cep {
        color: #808080;

        @media (max-width: 768px) {
            position: absolute;
            right: -93px;
            top: 3px;
        }
    }
}
