html {
    scroll-behavior: smooth;
}
.versaoOriginal .headroom {
    top: 100px;
    left: 0;
    right: 0;
    z-index: 5 !important;
}
.versaoOriginal .headroom--unfixed {
    position: relative;
    transform: translateY(-100px);
}
.versaoOriginal .headroom--scrolled {
    transition: transform 200ms ease-in-out;
}
.versaoOriginal .headroom--unpinned {
    position: fixed;
    transform: translate3d(0px, -100px, 0px);
    transition: all 0.5s ease-in-out 0s;
}
.versaoOriginal .headroom--pinned {
    position: fixed;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.5s ease-in-out 0s;
}
.play__video {
    display: flex;
    align-items: center;
    justify-content: center;
}
.small__texts {
    font-weight: 300;
    font-size: 11px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 50px;
    background: #1C1C1C;
    padding: 5%;
    line-height: 18px;
}
.small__texts small {
    display: block;
    margin-bottom: 15px;
}