html {
    scroll-behavior: smooth;
}
.versaoOriginal .headroom {
    top: 100px;
    left: 0;
    right: 0;
    z-index: 5 !important;
}
.versaoOriginal .headroom--unfixed {
    position: relative;
    transform: translateY(-100px);
}
.versaoOriginal .headroom--scrolled {
    transition: transform 200ms ease-in-out;
}
.versaoOriginal .headroom--unpinned {
    position: fixed;
    transform: translate3d(0px, -172%, 0px);
    transition: all 0.5s ease-in-out 0s;
}
.versaoOriginal .headroom--pinned {
    position: fixed;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.5s ease-in-out 0s;
}
.play__video {
    display: flex;
    align-items: center;
    justify-content: center;
}