.lancamento__refri {
    display: block;
}
.refrivideo  {
    display: none;
}
.footer {
    z-index: 3 !important;
}
@media (min-width: 1025px) {
    .lancamento__refri {
        display: none;
    }
    .refrivideo  {
        display: block;
    }
}