.versaoOriginal {
    display: block;
    background: #000;
}
.main {
    background: #000;
}
.versaoVideo  {
    display: none;
}
/*
.footer {
    z-index: 3 !important;
}
*/
/* body.bg-base {
    overflow: hidden;
} */
@media (min-width: 1025px) {
    .versaoOriginal {
        display: none;
    }
    .versaoVideo  {
        display: block;
    }
}