@keyframes fadeIn {
    from {
        margin: 0;
        opacity: 0;
    }

    to {
        margin: 20px 0;
        opacity: 1;
    }  
}

@keyframes fadeInSlideDown {
    from {
        height: 0;
        min-height: 0;
        opacity: 0;
        overflow: hidden;
    }

    50% {
        height: 78px;
    }

    99% {
        opacity: 1;
        overflow: hidden;
    }

    to {
        height: auto;
        min-height: 78px;
        opacity: 1;
        overflow: visible;
    }  
}

.loading_data {
    background: #eee;
    color: transparent;
    display: inline-block;
    height: 1.25em;
    width: 50%;
}

.purchase-module .description {
    .add_on {
        margin-bottom: 20px;
        max-width: 100%;
        position: relative;
        width: 384px;

        &--title {
            background-color: #f2f2f2;
            font-family: Soleto;
            font-size: 14px;
            padding: 15px 0 15px 24px;
            text-align: left;
            width: 100%;
        }

        &_item--bottomLine {
            animation: fadeIn 0.3s 0.5s ease;
            animation-fill-mode: both;
            border: 1px solid #d1d3d4;
            width: 100%;            
        }

        &--type_name {
            font: lighter 20px/24px Soleto;

            @media (max-width: 414px) {
                font: lighter 16px/19px Soleto;
            }
        }

        &--type_label {
            align-items: center;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            font-size: 22px;
            justify-content: flex-start;
            margin-bottom: 12px;
            padding-left: 30px;
            position: relative;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;

            input {
                cursor: pointer;
                opacity: 0;
                position: absolute;

                &:checked {
                    & ~ .add_on--type_bullet {
                        background-color: #fff;

                        &::after {
                            display: block;
                        }
                    }
                }
            }

            &:hover {
                input {
                    & ~ .add_on--type_bullet {
                        background-color: #ccc;
                    }
                }
            }
        }

        &--type_bullet {
            background-color: #eee;
            border: 1px solid #808080;
            border-radius: 50%;
            height: 16px;
            left: 0;
            position: absolute;
            top: 0;
            width: 16px;

            &::after {
                background: #dd5828;
                border-radius: 50%;
                content: '';
                display: none;
                height: 10px;
                left: 3px;
                position: absolute;
                top: 3px;
                width: 10px;
            }
        }

        &--type_group {
            display: flex;
            flex-direction: column;

            &_header {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                margin-top: 24px;

                @media (min-width: 769px) {
                    &.only_label-child {
                        justify-content: start;
                    }
                }
            }

            &_quiz {
                display: flex;
                flex-direction: column;
            }
        }

        &--groupTitle {
            color: #000;
            font: lighter 16px/19px Soleto;
            margin-top: 50px;
            text-align: left;
        }

        &--groupSubTitle {
            color: #58595b;
            font: lighter 16px/19px Soleto;
            margin: 30px 0;
            text-align: left;
        }

        &--item {
            animation: fadeInSlideDown 0.3s 0.5s ease;
            animation-fill-mode: both;
            display: flex;
            flex-direction: row;

            @media (min-width: 769px) {
                min-height: 78px;
            }

            .add_on_item {
                &--image {
                    height: 78px;
                    width: 20%;

                    @media (max-width: 414px) {
                        width: 78px;
                    }

                    &.loading {
                        @extend .loading_data;
                        width: 20%;

                        @media (max-width: 414px) {
                            width: 78px;
                        }
                    }
                }

                &--checkbox_input {
                    cursor: pointer;
                    height: 0;
                    opacity: 0;
                    position: absolute;
                    width: 0;

                    &:checked {
                        & ~ .add_on_item--checkmark {
                            background: #db532a 0% 0% no-repeat padding-box;

                            &::after {
                                display: block;
                            }
                        }
                    }
                }

                &--checkmark {
                    background-color: #fff;
                    border: 1px solid #fff;
                    height: 11px;
                    outline: 1px solid #d1d3d4;
                    position: absolute;
                    width: 11px;

                    &::after {
                        content: ' ';
                        display: none;
                        position: absolute;
                    }
                }

                &--container {
                    margin-left: 24px;
                    margin-top: 5px;
                    text-align: left;
                    width: 7%;

                    @media (max-width: 414px) {
                        text-align: left;
                    }

                    &.disabled {
                        opacity: 0;
                        pointer-events: none;
                    }
                }

                &--productInfo {
                    display: flex;
                    flex-direction: column;
                    width: 70%;
                }

                &--productName {
                    color: #58595b;
                    font: lighter 16px/19px Soleto;
                    margin-bottom: 5px;
                    text-align: left;

                    @media (max-width: 414px) {
                        font: lighter 14px/18px Soleto;
                    }

                    &.loading {
                        @extend .loading_data;
                        width: 100%;
                    }
                }

                &--initialProductPrice {
                    color: #58595b;
                    font: lighter 16px/19px Soleto;
                    text-align: left;
                    text-decoration: line-through;
                    @media (max-width: 414px) {
                        font: lighter 14px/18px Soleto;
                    }
                }

                &--currentProductPrice {
                    color: #db532a;
                    font: normal 20px/25px Soleto;
                    text-align: left;

                    @media (max-width: 414px) {
                        font: lighter 16px/29px Soleto;
                    }

                    &.loading {
                        @extend .loading_data;
                    }
                }

                &--unavailable {
                    color: #000;
                    font: normal 20px/25px Soleto;
                    margin: 10px 0;
                    text-align: left;

                    @media (max-width: 414px) {
                        font: lighter 16px/19px Soleto;
                    }

                    &.loading {
                        @extend .loading_data;
                    }
                }
            }
        }
    }
}
