.vitrine.-sem-compra {
    padding: 25px 0;
    background-color: #242424;
}

.vitrine.-sem-compra h2,
.vitrine.-sem-compra h3,
.vitrine.-sem-compra h4 {
    font-family: Soleto;
    text-align: center;
}

.vitrine.-sem-compra h2,
.vitrine.-sem-compra h3 {
    font-style: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin: 0;
}

.vitrine.-sem-compra h3 {
    font-weight: lighter;
}

.vitrine.-sem-compra h4 {
    color: #BBBBBB;
    font-size: 12px;
    font-weight: lighter;
}

.vitrine.-sem-compra .galeria-slider {
    width: 250px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.vitrine.-sem-compra .galeria-slider .slick-prev,
.vitrine.-sem-compra .galeria-slider .slick-next{
    width: 13px;
    height: 22px;
    background-repeat: no-repeat;
    position: absolute;
    top: 45%;
    background: none;
    border: none;
    color: rgba(0,0,0,0);
}
.vitrine.-sem-compra .galeria-slider .slick-prev {
    left: -13px;
}
.vitrine.-sem-compra .galeria-slider .slick-next {
    right: -13px;
}


.vitrine.-sem-compra .galeria-slider .slick-prev::before,
.vitrine.-sem-compra .galeria-slider .slick-next::before {
    content: "";
    display: block;
    width: 13px;
    height: 22px;
    background-size: cover ;
}
.vitrine.-sem-compra .galeria-slider .slick-prev::before {
    background-image: url('https://img.imageboss.me/cdn/http://bimg.visie.com.br/media/arr-prev.png');
}
.vitrine.-sem-compra .galeria-slider .slick-next::before {
    background-image: url('https://img.imageboss.me/cdn/http://bimg.visie.com.br/media/arr-next.png');
}
.vitrine.-sem-compra .galeria-slider .slick-list {
    overflow: hidden;
}
.vitrine.-sem-compra .galeria-slider .slick-track {
    display: flex;
}

.vitrine.-sem-compra .galeria-slider-thumb {
    width: 300px;
    display: block;
    margin: 0 auto;
    text-align: center;
}
.vitrine.-sem-compra .galeria-slider-thumb .slick-track {
    width: 100%!important;
}
.vitrine.-sem-compra .galeria-slider-thumb .slick-slide {
    width: 20%!important;
    display: inline-block;
}
.vitrine.-sem-compra .galeria-slider-thumb div.item {
    width: auto!important;
    position: relative;
    padding: 5px;
    border: 1px solid #101010;
    margin: 5px;
}

@media (min-width: 768px){

    .vitrine.-sem-compra {
        padding: 35px 0;
        background-color: #242424;
    }

    .vitrine.-sem-compra .galeria-slider {
        width: 400px;
    }
    .vitrine.-sem-compra .galeria-slider-thumb {
        width: 480px;
    }

    .vitrine.-sem-compra .galeria-slider .slick-prev,
    .vitrine.-sem-compra .galeria-slider .slick-next{
        width: 16px;
        height: 27px;
    }

    .vitrine.-sem-compra .galeria-slider .slick-prev::before,
    .vitrine.-sem-compra .galeria-slider .slick-next::before {
        width: 16px;
        height: 27px;
    }

}

@media (min-width: 1025px){

    .vitrine.-sem-compra {
        display: block;
        padding: 70px 0;
        background-color: #242424;
    }

    .vitrine.-sem-compra h2,
    .vitrine.-sem-compra h3 {
        font-size: 40px;
        line-height: 50px;
    }

    .vitrine.-sem-compra h4 {
        font-size: 16px;
    }

    .vitrine.-sem-compra .galeria-slider {
        width: 500px;
    }
    .vitrine.-sem-compra .galeria-slider-thumb {
        width: 580px;
    }

}
