.video-refri {
    background: #000;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

#play__video {
    display: flex;
    align-items: center;
    justify-content: center;
}

.poster__video {
    width:100%;
    max-width: 1200px;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    position: absolute;
    cursor: pointer;
    z-index: 1;
    overflow: hidden;
    border: 2px solid #FF5C00;
}
.poster__video img {
    position: absolute;
}
.poster__video svg {
    position: relative;
    z-index: 1;
    max-height: 50%;
    width: 100%;
}
.poster__video svg path{
    fill: white;
}
.poster__video:hover svg path{
    fill: #FF5C00;
}
.poster__video img{
    transition: all .2s ease-in-out;
}
.poster__video:hover img{
    transform: scale(1.1);
}

@media (min-width: 768px){

    .video-refri {
        padding: 25px;
    }

    .video-refri .video {
        width: calc(100% - 50px);
        display: block;
        margin: 0 auto;
    }

}

@media (min-width: 768px){

    .video-refri {
        padding: 120px 0;
    }

    .video-refri .video {
        width: calc(100% - 50px);
        max-width: 1200px;
        display: block;
        margin: 0 auto;
    }

    .poster__video {
        width: calc(100% - 50px);
        max-width: 1200px;
        height: 75%;
    }

}
