html {
    scroll-behavior: smooth;
}
.bblendLayout .headroom {
    top: 100px;
    left: 0;
    right: 0;
    z-index: 5 !important;
}
.bblendLayout .headroom--unfixed {
    position: relative;
    transform: translateY(-100px);
}
.bblendLayout .headroom--scrolled {
    transition: transform 200ms ease-in-out;
}
.bblendLayout .headroom--unpinned {
    position: fixed;
    transform: translate3d(0px, -100px, 0px);
    transition: all 0.5s ease-in-out 0s;
}
.bblendLayout .headroom--pinned {
    position: fixed;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.5s ease-in-out 0s;
}
