.intro {
    height: 100vh;
}
.videobg {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 50px;
    z-index: 1;
}
.scene1,
.scene2,
.scene3,
.scene4{
    width: 100%;
    height: 100vh;
    z-index: 2;
    display: flex;
    color: white;
    position: fixed;
    opacity: 0;
    padding-top: 50px;
}
/*********
 Scene 1
*********/
.scene1 {
    align-items: center;
    flex-direction: column;
}
.scene1 h2 {
    text-align: center;
    font-weight: normal;
    font-size: 52px;
    margin-bottom: 30px;
    margin-top: 15px;
}
.scene1 p {
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    width: 675px;
}
/*********
 Scene 2
*********/
.scene2 {
    align-items: center;
    flex-direction: column;
}

.scene2__content {
    display: flex;
    justify-content: center;
    width: 100%;
}
.scene2__content-grid {
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 93%;
}
.scene2__content-col1 {
    width: 285px;
    height: 296px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.scene2__content-col2 {
    width: 337px;
    height: 296px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.switch-dispenser__video {
    width: 160px;
    height: 179px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 25px;
    margin-left: -75px;
}
.switch-dispenser__video a {
    display: block;
    position: relative;
    font-family: Soleto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 140%;
    color: #BBBBBB;
    text-decoration: none;
    padding-left: 25px;
    width: 90px;
}
.switch-dispenser__video a.active {
    color: white;
}
.switch-dispenser__video .line {
    display: block;
    height: 55px;
    width: 1px;
    margin: 4px 0 4px 10px;
    background-color: #C4A08B;
}
.switch-dispenser__video a::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 6px;
    width: 6px;
    height: 6px;
    background-color: #F2F2F2;
    border: 1px solid #F55D2F;
    transform: translate(0,-50%);
    z-index: 2;
}
.switch-dispenser__video a::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 6px;
    width: 12px;
    height: 12px;
    transform: translate(0,-50%);
    z-index: 2;
}
.switch-dispenser__video a.active::before {
    background-color: #F55D2F;
    border: 1px solid #F55D2F;
}
.switch-dispenser__video a.active::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 3px;
    width: 12px;
    height: 12px;
    background-color: #F2F2F2;
    border: 1px solid #F55D2F;
    transform: translate(0,-50%);
    z-index: 1;
}
.scene2__content-col1 h2 {
    font-weight: normal;
    font-size: 42px;
    line-height: 52px;
    margin-bottom: 25px;
}
.scene2__content-col1 p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
}
.scene2__content-mouse {
    position: absolute;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scene2__content-mouse svg {
    margin-top: 10px;
}
/*********
 Scene 3
*********/
.scene3 {
    align-items: center;
    flex-direction: column;
}
.scene3__content {
    width: 930px;
    height: 334px;
    position: relative;
    display: flex;
    justify-content: center;
}
.scene3__content-filter {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    filter: blur(250px);
    position: absolute;
    top: -40%;
}
.scene3__content-text {
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.scene3__content-text h2 {
    text-align: center;
    font-weight: normal;
    font-size: 40px;
    margin-bottom: 30px;
}
.scene3__content-text p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 0.015em;
    width: 667px;
    text-align: center;
}
/*********
 Scene 4
*********/
.scene4 {
    align-items: center;
    flex-direction: column;
    z-index: 2;
    background-color: rgba(100, 200 , 90, 0.4);
}
.scene4 h2 {
    text-align: center;
    font-weight: normal;
    font-size: 52px;
    margin-bottom: 30px;
}
.convertible-space {
    position: relative;
    background-color: #000;
    overflow: hidden;
    margin-top: 0;

    height: 650px;
    background-position: left 80% bottom 0;
    background-size: 850px;
    background-repeat: no-repeat;

    -webkit-transition: background-image 0.5s;
    -moz-transition: background-image 0.5s;
    -o-transition: background-image 0.5s;
    transition: background-image 0.5s;
}
.convertible-space.vinhos{
    background-image: url('https://img.imageboss.me/cdn/http://bimg.visie.com.br/media/vinhos.jpg');
}
.convertible-space.frutas-vegetais{
    background-image: url('https://img.imageboss.me/cdn/http://bimg.visie.com.br/media/frutas-vegetais.jpg');
}
.convertible-space.carnes-peixes{
    background-image: url('https://img.imageboss.me/cdn/http://bimg.visie.com.br/media/carnes-peixes.jpg');
}
.convertible-space.congelamento-suave{
    background-image: url('https://img.imageboss.me/cdn/http://bimg.visie.com.br/media/refeicoes-semanais.jpg');
}
.convertible-space.congelamento-medio{
    background-image: url('https://img.imageboss.me/cdn/http://bimg.visie.com.br/media/sorvetes-sobremesas.jpg');
}
.convertible-space.congelamento-intenso{
    background-image: url('https://img.imageboss.me/cdn/http://bimg.visie.com.br/media/congelamento-intenso.jpg');
}

.convertible-space .line-chose {
    position: absolute;
    bottom: 30%;
    right: 0;
    transform: translate(10%);
}

.convertible-space .line-chose .line-text {
    position: absolute;
    right: 60px;
    top: -140px;
}

.convertible-space .line-chose .line-text h3 {
    font-family: Soleto;
    font-style: normal;
    font-weight: 300;
    font-size: 9px;
    line-height: 133.83%;
    margin: 0 0 5px
}

.convertible-space .line-chose .line-text p {
    font-family: Soleto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 118.83%;
    text-align: left;
    margin: 0 0 25.7px;
}
.convertible-space .line-chose .line-text p.active {
    font-weight: bold;
}

.convertible-space .line-chose .line-text h3,
.convertible-space .line-chose .line-text p {
    display: block;
    color: #fff;
}

.convertible-space .line-chose .slider{
    -webkit-appearance: none;
    appearance: none;
    width: calc(350px - 95px);
    padding: 0 25px;
    height: 2px;
    background-color: #278DAD;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    
    transform: rotate(90deg);
}

.convertible-space .line-chose .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 18px;
    height: 61px;
    background: transparent url('https://img.imageboss.me/cdn/http://bimg.visie.com.br/media/slider-mobile-slider-convertible.png') no-repeat;
    cursor: pointer;
    transform: rotate(90deg);
}

.convertible-space p {
    position: relative;
    text-align: center;
    color: #fff;
    font-family: Soleto;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    z-index: 1;
}

.convertible-space p .mobile {
    display: block;
}
.convertible-space p .desktop {
    display: none;
}

.convertible-space .edge-title h2 {
    margin: 0;
}
.convertible-space .edge-title{
    position: relative;
    margin: 32px 0 13px;
    z-index: 1;
}

@media (min-width: 768px) {
    
    .convertible-space {
        height: 590px;
        background-size: 1300px;
        background-position: left 70% bottom 0;
    }

    .convertible-space .edge-title {
        position: absolute;
        right: 45%;
        top: calc(50% - 145px);
        width: 385px;
        text-align: left;
    }

    .convertible-space > p {
        position: absolute;
        font-size: 18px;
        right: 45%;
        top: calc(50% - 35px);
        width: 385px;
        text-align: left;
    }

    .convertible-space .line-chose {
        bottom: 40%;
        transform: translate(-25%);
    }

}

@media (min-width: 1000px) {
    
    .convertible-space .edge-title {
        right: 55%;
    }

    .convertible-space > p {
        right: 55%;
    }

}

@media (min-width: 1025px) {

    .convertible-space {
        height: 830px;
        background-size: cover;
        background-position: left 60% bottom 0;
    }

    .convertible-space .line-chose {
        bottom: 50%;
    }

    .convertible-space .line-chose .slider{
        width: 350px;
        padding: 0px 50px;
    }
    
    .convertible-space .line-chose .line-text {
        right: 95px;
        top: -200px;
    }

    .convertible-space .line-chose .line-text h3 {
        font-size: 12px;
        margin: 0 0 18px;
    }

    .convertible-space .line-chose .line-text p {
        font-size: 18px;
        font-weight: lighter;
        margin: 0 0 30px;
    }

    .convertible-space .line-chose .slider::-webkit-slider-thumb {
        width: 31px;
        height: 113px;
        padding-top: 2px;
        background: transparent url('https://img.imageboss.me/cdn/http://bimg.visie.com.br/media/slider-convertible.png') no-repeat;
    }
}

section {
    z-index: 2;
    position: relative;
}
