/* .scrollvideo {
    background: black;
    display: flex;
    justify-content: center;
    height: 100vh;
    position: fixed;
}
.scrollvideo__wrap {
    width: 95%;
}
@media only screen and (min-width: 1800px) {
    .scrollvideo__wrap {
        width: 70%;
    }
}

#video {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0;
}
.steps {
    width: 100%;
    height: 100vh;
    opacity: 1;
    transition: opacity 1s ease-in-out;
    background-color: rgba(red, green, blue, 0.3);
    color: white;
    position: relative;
    z-index: 5;
}
section {
    height: 100vh;
    color: black;
  } */


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .intro {
    height: 100vh;
  }
  
.video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
    z-index: 1;
}



.scene1 {
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 5%;
    align-items: center;
    color: white;
    flex-direction: column;
    z-index: 2;
    background-color: rgba(60, 70, 20, 0.4);
}
.scene1 h2 {
    text-align: center;
    font-weight: normal;
    font-size: 52px;
    margin-bottom: 30px;
}
.scene1 p {
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    width: 675px;
}
.scene2 {
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 5%;
    align-items: center;
    color: white;
    flex-direction: column;
    z-index: 2;
    background-color: rgba(88, 88, 88, 0.4);
}
.scene2 h2 {
    text-align: center;
    font-weight: normal;
    font-size: 52px;
    margin-bottom: 30px;
}
.scene2 p {
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    width: 675px;
}

.scene3 {
    width: 100%;
    height: 100vh;
    display: flex;
    padding-top: 5%;
    align-items: center;
    color: white;
    flex-direction: column;
    z-index: 2;
    background-color: rgba(20, 88 , 90, 0.4);
}
.scene3 h2 {
    text-align: center;
    font-weight: normal;
    font-size: 52px;
    margin-bottom: 30px;
}
.scene3 p {
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    width: 675px;
}
  
  section {
    height: 100vh;
    color: black;
    z-index: 2;
    position: relative;
    background: aqua;
  }
  
  section h1 {
    padding-top: 300px;
    text-align: center;
    font-size: 80px;
  }
  