html {
    scroll-behavior: smooth;
}
.versaoVideo {
    width: 100%;
    overflow: hidden;
}
.versaoVideo .headroom {
    top: 49.99px;
    left: 0;
    right: 0;
    z-index: 5 !important;
}
.versaoVideo .headroom--unfixed {
    position: relative;
    transform: translateY(-50px);
}
.versaoVideo .headroom--scrolled {
    transition: transform 200ms ease-in-out;
}
.versaoVideo .headroom--unpinned {
    position: fixed;
    transform: translate3d(0px, -50px, 0px);
    transition: all 0.5s ease-in-out 0s;
}
.versaoVideo .headroom--pinned {
    position: fixed;
    transform: translate3d(0px, 0px, 0px);
    transition: all 0.5s ease-in-out 0s;
}

.versaoVideo .menu__lp {
    background: #000;
    width: 100%;
    display: block;
    overflow-x: auto;
    position: relative;
    z-index: 5;
}
.versaoVideo .menu__lp::before {
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(69,69,69,0) 0%, rgba(69,69,69,0.75) 25%, rgba(69,69,69,0.75) 51%, rgba(69,69,69,0.75) 75%, rgba(69,69,69,0) 100%);
    position: fixed;
    bottom: 0;
    left: 0;
}
.versaoVideo .menu__lp h1 {
    font-family: Soleto,sans-serif;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    color: white;
}
.versaoVideo .menu__lp nav {
    margin: unset;
    padding-right: 0;
}
.versaoVideo .menu__lp nav ul{
    display: flex;
    align-items: flex-end;
    width: 1165px;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}
.versaoVideo .menu__lp nav ul li {
    list-style: none;
}
.linkH1 {
    text-decoration: none;
}
.versaoVideo .menu__lp nav ul li a{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    cursor: pointer;
    color: #fff;
    text-decoration: none;
    position: relative;

    padding: 19.5px 8px;
    margin: 0 5px;

    font-family: Soleto,sans-serif;
    font-weight: lighter;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}

.versaoVideo .menu__lp nav ul li a.active::before {
    content: "";
    width: 100%;
    height: 3px;
    background: #E98A21;
    position: absolute;
    bottom: 1px;
}

.versaoVideo .menu__lp nav a.active {
    text-shadow: 0px 0px #fff;  
}
/* .versaoVideo .menu__lp nav ul li:last-child {
    position: unset;
    padding: 0;
    height: 100%;
} */

/* BOTÃO EU QUERO - COMPRAR */
.versaoVideo .menu__lp nav ul li:last-child {
    margin: 14px 0;
}
.versaoVideo .menu__lp nav ul li:last-child a {
    border: 1px solid #F08B1D;
    color: #F08B1D;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    background: black;
    padding: 5px 0px;
    width: 100px;
}

.versaoVideo .menu__lp nav ul li:last-child a:hover, 
.versaoVideo .menu__lp nav ul li:last-child a.active {
    background: #F08B1D;
    color: white;
    padding: 5px 0;
}

.versaoVideo .menu__lp {
    display: flex;
    justify-content: center;
}
.versaoVideo .menu__lp-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: none;
    width: 95%;
}
.versaoVideo .menu__lp nav ul{
width: 100%;
    justify-content: center;
}
.versaoVideo .menu__lp::before {
    position: absolute;
    top: unset;
    bottom: 0;
}
.versaoVideo .menu__lp nav ul li a:hover {
    text-shadow: 0px 0px #fff;  
}

@media only screen and (min-width: 1800px) {
    .versaoVideo .menu__lp-wrap {
        width: 70%;
    }
    .versaoVideo .menu__lp::before {
        width: 70%;
    }
}
.small__texts {
    width: 960px;
    font-weight: 300;
    font-size: 11px;
    text-align: center;
    color: #FFFFFF;
    margin: 0 auto;
    padding-bottom: 50px;
    line-height: 18px;
}
.small__texts small {
    display: block;
    margin-bottom: 15px;
}