.menu-edge {
    background: #000;
    width: 100%;
    display: block;
    overflow-x: auto;
    position: relative;
    padding: 0 27px;
    z-index: 5;
}
.menu-edge::before {
    content: "";
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(69,69,69,0) 0%, rgba(69,69,69,0.75) 25%, rgba(69,69,69,0.75) 51%, rgba(69,69,69,0.75) 75%, rgba(69,69,69,0) 100%);
    position: fixed;
    bottom: 0;
    left: 0;
}

.menu-edge nav {
    display: flex;
    align-items: flex-end;
    width: 870px;
    justify-content: space-around;
}

.menu-edge nav a {
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    cursor: pointer;
    color: #fff;
    text-decoration: none;
    position: relative;

    padding: 19.5px 7px;
    margin: 0 5px;

    font-family: Soleto,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
}
.menu-edge nav a h1{
    font-family: Soleto,sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 0;
    text-align: center;
}

.menu-edge nav a.active::before {
    content: "";
    width: 100%;
    height: 4px;
    background: #E98A21;
    position: absolute;
    bottom: 0;
}

.menu-edge nav a.active {
    font-weight: normal;
}

.menu-edge nav a:last-child {
    padding: 5px 0px;
    border: 1px solid #F08B1D;
    border-radius: 50px;
    color: #F08B1D;
    font-weight: normal;
    font-size: 12px;
    text-transform: uppercase;
    width: 100px;
    bottom: 13px;
    /* position: relative; */
    /* left: calc(100% - 120px); */
    background: black;
}

/* .menu-edge nav a:last-child::after {
    content: "";
    padding: 10px;
    background: black;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
} */
.menu-edge nav a:last-child:hover {
    background: #F08B1D;
    color: white;
    padding: 5px 0;
}
.menu-edge nav a.active:last-child::before,
.menu-edge nav a:last-child:hover::before {
    display: none;
}
.menu-edge nav a.active:last-child {
    background: #F08B1D;
    color: white;
    padding: 5px 0;
}

@media (min-width: 1024px) {
    .menu-edge {
        display: flex;
        justify-content: center;
    }
    .menu-edge nav {
        width: 100%;
        justify-content: center;
    }
    .menu-edge nav a:last-child {
        position: absolute;
        right: 15%;
        padding: 5px 20px;
        border: 1px solid #F08B1D;
        border-radius: 50px;
        color: #F08B1D;
        font-weight: normal;
        font-size: 12px;
        text-transform: uppercase;
        width: 142px;
        top:calc(50% - 15px)
    }
    
    .menu-edge::before {
        position: absolute;
        top: unset;
        bottom: 0;
    }
    .menu-edge nav a:hover {
        font-weight: normal;
        padding: 19.5px 6px;
    }
    
    
}