.video-refri {
    background: #000;
}

@media (min-width: 768px){

    .video-refri {
        padding: 25px;
    }

    .video-refri .video {
        width: calc(100% - 50px);
        display: block;
        margin: 0 auto;
    }

}

@media (min-width: 768px){

    .video-refri {
        padding: 120px 0;
    }

    .video-refri .video {
        width: calc(100% - 50px);
        max-width: 1200px;
        display: block;
        margin: 0 auto;
    }

}
