.atencao-detalhes {
    overflow: hidden;
    padding: 32px 0 32px;
    background: #242424;
}

.atencao-detalhes .edge-title{
    line-height: 1em;
}

.atencao-detalhes .acesso-info h3,
.atencao-detalhes .acesso-info p {
    font-family: Soleto;
    font-style: normal;
    text-align: center;
    color: #E5E5E5;
}
.atencao-detalhes .acesso-info h3 {
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    margin: 0 0 10px;
}
.atencao-detalhes .acesso-info p {
    font-weight: 300;
    font-size: 14px;
    line-height: 21px;
    margin: 0 0 20px;
}

.atencao-detalhes .acesso-info img {
    display: block;
    position: relative;
    width: 300px;
    margin: 0 auto 30px;
}
.atencao-detalhes .acesso-info picture {
    display: block;
    position: relative;
    text-align: center;
}
.atencao-detalhes .acesso-info picture::before {
    content: '';
    left: 50%;
    top: 50%;
    position: absolute;
    width: 300px;
    height: 199px;
    border: 1px solid #DB532A;
    z-index: 1;
    transform: translate(calc(-50% + 7px), calc(-50% + 7px));
}

@media (min-width: 768px) {

    .atencao-detalhes .edge-title h2 {
        margin: 0;
        line-height: 1;
    }

    .atencao-detalhes .acesso-info {
        display: flex;
        flex-flow: row-reverse;
        justify-content: center;
        align-items: center;
        margin: 30px 0 70px;
    }

    .atencao-detalhes .acesso-info h3,
    .atencao-detalhes .acesso-info p {
        text-align: left;
    }

    .atencao-detalhes .acesso-info img {
        width: 330px;
        margin: 0;
    }

    .atencao-detalhes .acesso-info picture {
        margin: 0 50px 0 0;
    }

    .atencao-detalhes .acesso-info picture::before {
        width: 330px;
        height: 219px;
    }

}

@media (min-width: 1000px) {

    .atencao-detalhes .edge-title span.desktop {
        display: block;
        width: 100%;
        max-width: 800px;
        margin: 0 auto 40px;
        text-align: left;
    }

}

@media (min-width: 1024px) {

    .atencao-detalhes {
        padding: 70px 0;
    }

    .atencao-detalhes .edge-title span.desktop {
        max-width: 1000px;
    }

    .atencao-detalhes .acesso-info h3 {
        font-size: 32px;
    }
    
    .atencao-detalhes .acesso-info p {
        font-size: 18px;
    }

    .atencao-detalhes .acesso-info img {
        width: 500px;
        margin: 0;
    }

    .atencao-detalhes .acesso-info picture::before {
        width: 500px;
        height: 331px;
    }


}